<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.budgetConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=budget;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.budgetDBConnectionString"
            connectionString="Data Source=southasia.database.windows.net;Initial Catalog=budgetDB;User ID=comma"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>