
@{
    ViewBag.Title = "Share";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Share</h2>

<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.7&appId=1754402398132413";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


<div class="fb-share-button" data-href="https://www.facebook.com/Comma-1789020404706722/?skip_nax_wizard=true" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FComma-1789020404706722%2F%3Fskip_nax_wizard%3Dtrue&amp;src=sdkpreparse">分享</a></div>