@{
    ViewBag.Title = "Home Page";
}
<!--長條圖-->
<div class="row top-buffer">
    <div class="col-lg-6 col-sm-12" id="bar-chart" ng-controller="barCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">近五年預算變化圖</div>
            <div class="panel-body">
                <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" height="391" width="784" style="display: block; width: 523px; height: 261px;"></canvas>
            </div>
        </div>
    </div>
    <!--長條圖-->
    <!--pie chart-->
    <div class="col-lg-6 col-sm-12" id="bar-chart" ng-controller="pieCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">前五大預算圖</div>
            <div class="panel-body">
                <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options"></canvas>
            </div>
        </div>
    </div>
    <!--pie chart-->
</div>

<div class="row top-buffer">

</div>

<!--<fb-share></fb-share>
<fb-comment></fb-comment>-->
