@{
    ViewBag.Title = "Home Page";
}
<search-bar></search-bar>
<div class="row top-buffer">
<div class="col-lg-6 col-sm-12" id="bar-chart" ng-controller="barCtrl">
    <div class="panel panel-default">
    <div class="panel-heading">{{test}}</div>
    <div class="panel-body">
        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" height="391" width="784" style="display: block; width: 523px; height: 261px;"></canvas>
    </div>
    </div>
</div>
</div>
<fb-share></fb-share>
<fb-comment></fb-comment>