@{
    ViewBag.Title = "Home Page";
}
<search-bar></search-bar>
<div class="row top-buffer">
<h4>工程筆數:{{filteredData.length}} | 
    總預算:{{filteredData| sumByKey : 'BUDGET'| currency:'NT$':0}} | 
    總花費:{{filteredData| sumByKey : 'AWARD_PRICE'| currency:'NT$':0}}</h4>
 <div ui-grid="gridOptions" class="myGrid"></div>
</div>
 


<div class="row top-buffer">

</div>

<fb-share></fb-share>
<fb-comment></fb-comment>